<table id='ajax-user-list' class="display responsive nowrap" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>  
        <th>Mail</th>
        <th>Role</th>      
    </tr>
    </thead>
</table>